<%- include partals/headder.ejs %> 



<!DOCTYPE html>
<html lang="en">

<body>

  <%- include partals/main_nav.ejs %> 


  <main class="container"> 

    <div class="jumbotron">
      <h1 class="display-4">Welecome to the: <%= title %> page</h1>
   
    </div>
  </main>

  <%- include partals/bottom_nav.ejs %> 

<%- include partals/footer.ejs %> 