


<% if(title == "Home"){ %>
    
    <img src="/public/assets/images/face.png" height="50" width="50">

    <main class="container"> 

        <div class="jumbotron">
          <h1 class="display-5">Welecome to the: <%= title %> </h1>
       
        </div>
    <!-- words on page go here-->
        <div style="border:solid;">
            <p>
            
            </p>
                </div>
    </main>
 
    <% } %> 
    
  <% if(title == "About_Me"){ %>
   
    <main class="container"> 

        <div class="jumbotron">
          <h1 class="display-5">Welecome to the: <%= title %> </h1>
       
        </div>
    <!-- words on page go here-->
        <div style="border:solid;">
            <p>
            
            </p>
                </div>
      </main>
      <% } %> 
  
  <% if(title == "Products"){ %>

    <main class="container"> 

        <div class="jumbotron">
          <h1 class="display-5">Welecome to the: <%= title %> </h1>
       
        </div>
    <!-- words on page go here-->
        <div style="border:solid;">
            <p>
            
            </p>
                </div>
      </main>
      <% } %> 
   
  <% if(title == "Survices"){ %>

    <main class="container"> 

        <div class="jumbotron">
          <h1 class="display-5">Welecome to the: <%= title %> </h1>
       
        </div>
    <!-- words on page go here-->
        <div style="border:solid;">
            <p>
            
            </p>
                </div>
      </main>
      <% } %> 

  <% if(title == 'Contact_information'){ %>
    
    <main class="container"> 

        <div class="jumbotron">
          <h1 class="display-5">Welecome to the: <%= title %> </h1>
       
        </div>
    <!-- words on page go here-->
        <div style="border:solid;">
            <p>
            
            </p>
                </div>
      </main>
      <% } %> 
      